.form-section{
    width: 40%;
    box-shadow: #00000029 0px 4px 20px;
    background-color:FBFBFB ;
    opacity: 100%;
    border-radius: 30px;
    padding: 5% 5%;
    position: relative;
    left: 30%;
}

.form-section-mobile{
    box-shadow: #00000029 0px 4px 20px;
    background-color: #FBFBFB ;
    opacity: 100%;   
    width: 100%;
    height: 100%;
    padding: 10% 5%;
    position: relative;
    z-index:0;   
}


.logo{
    position: relative;
    top: 10%;
}

.buttonClass{
    position: relative;
    left: 75%;
}

.amount{
    position: absolute;
    left: 50%;    
}

.paybtn{
    position: absolute;
    float: left;
    left: -10%;
}

@media screen and (max-width: 740px){
    .btn{
        width: 100%;
        background-color: #FF6E4E;
        color: white;
        box-shadow: #00000029 0px 4px 8px;
    }
}

